node_modules
/buildnode_modules
.env
coverage
coverage.json
typechain-types
yarn-error.log
build


artifacts/



#foundry test compilation files
cache
out
reference-out
optimized-out
reference-working

.DS_Store

# VScode
.vscode
__pycache__
README.md
